<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI 모델 버전 관리 레이아웃</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="ai-body-container">
    <div class="grid-container">
        <div class="ai-container top-left">
            <h1>감정 분류 모델</h1>
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>f1Score</th>
                        <th>epoch</th>
                        <th>dropOut</th>
                        <th>Load</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < emotionModel.length; i++) { 
                        var matchingIndex = -1;
                        for (var j = 0; j < emotionDetail.length; j++){
                            if(emotionDetail[j].modelName===emotionModel[i]){
                                matchingIndex = j;
                                break;
                            }
                        }
                        %>
                        <tr>
                            <td><%=emotionModel[i]%><% if(emotionLoaded===emotionModel[i]){ %><i class="ri-check-line"></i><% } %></td>
                            <td><%= matchingIndex !== -1 ? emotionDetail[matchingIndex].f1 : '-' %></td>
                            <td><%= matchingIndex !== -1 ? emotionDetail[matchingIndex].epoch : '-' %></td>
                            <td><%= matchingIndex !== -1 ? emotionDetail[matchingIndex].dropOut : '-' %></td>
                            <td><a href="/ai/emotionLoad/<%=emotionModel[i]%>"><button class="detail-button">Load</button></a></td>
                            <td><a href="/ai/deleteEmotion/<%=emotionModel[i]%>"><button class="detail-button" onclick="return confirm('정말로 삭제하시겠습니까?');">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <form class="form-grid" action="/ai/emotionModelTrain" method="post">
                <input type="text" id="modelName" name="modelName" placeholder="Model Name" style="grid-column: 1 / 4;">
                <div class="input-group">
                    <input type="number" id="epoch" name="epoch" placeholder="Epoch">
                    <input type="number" step="0.01" id="dropOut" name="dropOut" placeholder="Drop Out">
                    <button type="submit" onclick="return confirm('모델 훈련에는 시간이 소요됩니다. 모델이 완성되면 해당 페이지 새로고침 또는 재접속 시 보이게 됩니다.');">Train Model</button>
                </div>
            </form>
        </div>
        <div class="ai-container top-right">
            <h1>의도 분류 모델</h1>
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>accuracy</th>
                        <th>epoch</th>
                        <th>dropOut</th>
                        <th>Load</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < intentionModel.length; i++) { 
                        var matchingIndex = -1;
                        for (var j = 0; j < intentionDetail.length; j++){
                            if(intentionDetail[j].modelName===intentionModel[i]){
                                matchingIndex = j;
                                break;
                            }
                        }
                        %>
                        <tr>
                            <td><%=intentionModel[i]%><% if(intentionLoaded===intentionModel[i]){ %><i class="ri-check-line"></i><% } %></td>
                            <td><%= matchingIndex !== -1 ? intentionDetail[matchingIndex].accuracy : '-' %></td>
                            <td><%= matchingIndex !== -1 ? intentionDetail[matchingIndex].epoch : '-' %></td>
                            <td><%= matchingIndex !== -1 ? intentionDetail[matchingIndex].dropOut : '-' %></td>
                            <td><a href="/ai/intentionLoad/<%=intentionModel[i]%>"><button class="detail-button">Load</button></a></td>
                            <td><a href="/ai/deleteIntention/<%=intentionModel[i]%>"><button class="detail-button" onclick="return confirm('정말로 삭제하시겠습니까?');">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <form class="form-grid" action="/ai/intentionModelTrain" method="post">
                <input type="text" id="modelName" name="modelName" placeholder="Model Name" style="grid-column: 1 / 4;">
                <div class="input-group">
                    <input type="number" id="epoch" name="epoch" placeholder="Epoch">
                    <input type="number" step="0.01" id="dropOut" name="dropOut" placeholder="Drop Out">
                    <button type="submit" onclick="return confirm('모델 훈련에는 시간이 소요됩니다. 모델이 완성되면 해당 페이지 새로고침 또는 재접속 시 보이게 됩니다.');">Train Model</button>
                </div>
            </form>
        </div>
        <div class="ai-container bottom-left">
            <h1>질문지 생성 모델</h1>
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>rouge</th>
                        <th>epoch</th>
                        <th>batchSize</th>
                        <th>Load</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < questionModel.length; i++) { 
                        var matchingIndex = -1;
                        for (var j = 0; j < questionDetail.length; j++){
                            if(questionDetail[j].modelName===questionModel[i]){
                                matchingIndex = j;
                                break;
                            }
                        }
                        %>
                        <tr>
                            <td><%=questionModel[i]%><% if(questionLoaded===questionModel[i]){ %><i class="ri-check-line"></i><% } %></td>
                            <td><%= matchingIndex !== -1 ? questionDetail[matchingIndex].rouge : '-' %></td>
                            <td><%= matchingIndex !== -1 ? questionDetail[matchingIndex].epoch : '-' %></td>
                            <td><%= matchingIndex !== -1 ? questionDetail[matchingIndex].batchSize : '-' %></td>
                            <td><a href="/ai/questionLoad/<%=questionModel[i]%>"><button class="detail-button">Load</button></a></td>
                            <td><a href="/ai/deleteQuestion/<%=questionModel[i]%>"><button class="detail-button" onclick="return confirm('정말로 삭제하시겠습니까?');">Delete</button></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <form class="form-grid" action="/ai/questionModelTrain" method="post">
                <input type="text" id="modelName" name="modelName" placeholder="Model Name" style="grid-column: 1 / 4;">
                <div class="input-group">
                    <input type="number" id="epoch" name="epoch" placeholder="Epoch">
                    <input type="number" id="batchSize" name="batchSize" placeholder="Batch Size">
                    <button type="submit" onclick="return confirm('모델 훈련에는 시간이 소요됩니다. 모델이 완성되면 해당 페이지 새로고침 또는 재접속 시 보이게 됩니다.');">Train Model</button>
                </div>
            </form>
        </div>
        <div class="ai-container">
            <fieldset>
                <form action="/admin/ai/updateAuto" method="post" class="checkbox-form">
                    <label class="checkbox-label">
                      <input type="checkbox" name="emotionModelAuto" value="1" <%= emotionModelAuto === 1 ? 'checked' : '' %> />
                      <span>감정 분류 모델 자동학습</span>
                    </label>
                    <label class="checkbox-label">
                      <input type="checkbox" name="intentionModelAuto" value="1" <%= intentionModelAuto === 1 ? 'checked' : '' %> />
                      <span>의도 파악 모델 자동학습</span>
                    </label>
                    <label class="checkbox-label">
                        <input type="checkbox" name="questionModelAuto" value="1" <%= questionModelAuto === 1 ? 'checked' : '' %> />
                        <span>질문 생성 모델 자동학습</span>
                      </label>
                    <button type="submit" class="alter-form-wrapper">자동학습 설정</button>
                  </form>
                  <a href="/testModel"><button class="alter-form-wrapper" onclick="return confirm('현재 모델 성능 확인에는 시간이 소요됩니다. 확인이 끝나면 해당 페이지 새로고침 또는 재접속 시 보이게 됩니다.');">모델성능 확인</button></a>
              </fieldset>
        </div>
    </div>
    </div>
</body>
</html>

