<div class="panel-container">
  <div class="left-panel">
    <h1 class="main-title"><%=whatAi%></h1>

    <% if(datasets.length !== 0){ %>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>데이터 ID</th>
            <th>생성일</th>
            <th>상세</th>
          </tr>
        </thead>

        <tbody>
          <% var start = 10 * (currentPage - 1); %>
          <% var end = Math.min(start + columns, datasets.length); %>
          <% for(var i = start; i < end; i++){ %>
          <tr>
            <td><%= datasets[i].dataId %></td>
            <td><%= datasets[i].date.toLocaleDateString('en-CA').replace(/\//g, '-') %></td>
            <td>
              <div class="detail-form">
                <a href="/admin/ai/<%=url%>/<%=selected%>/<%=currentPage%>/<%=datasets[i].dataId%>"><button class="detail-button">상세</button></a>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div class="number">
      <% var k = 1; %>
      <% while(k <= pageNum){ %>
        <% if(k == currentPage){%>
          <span style="font-weight : bold;"><%=k%></span> &nbsp;&nbsp;
        <% } else { %>
          <span><a href="/admin/ai/<%=url%>/<%=selected%>/<%=k%>"><%=k%></a></span> &nbsp;&nbsp;
        <% } %>
      <% k = k + 1;} %>
    </div>

    <% } else { %>
      <p>자료가 없습니다.</p>
    <% } %>
  </div>


  <div class="right-panel">
    <div class="detail-container">
      <% if (dataDetail===true) { %>
        <p>데이터ID : <%=data[0].dateId%></p>
        <a href="/admin/ai/<%=url%>/<%=selected%>/<%=currentPage%>/<%=data[0].dataId%>/deleteData"><button class="delete-button" onclick="return confirm('정말로 삭제하시겠습니까?');">데이터 삭제</button></a>
        <p>데이터 생성일 : <%= data[0].date.toLocaleDateString('en-CA').replace(/\//g, '-') %></p>
        <p>input : <%=data[0].input%></p>
        <p>output : <%=data[0].output%></p>
      <% } else { %>
        <h1 class="main-title">데이터 상세 정보 버튼을 눌러주세요</h1>
      <% } %>
    </div>
  </div>
</div>