<div class="panel-container">
  <div class="left-panel">
    <% if(requestIsReport===false) { %>
      <h1 class="main-title">게시물 관리</h1>
    <% } else { %>
      <h1 class="main-title">신고 게시물 관리</h1>
    <% } %>
  
    <!--post 테이블 조회 결과 항목이 존재할 경우 테이블 표시-->
    <% if(post.length !== 0){ %>
  
    <form action="/post/search/1" method="post">
      <div class="search-form">
          <input type="text" id="searchTerm" name="searchTerm">&nbsp;<button type="submit" class="search-button">검색</button>
      </div>
    </form>
  
    <table>
      <thead>
        <!--테이블 항목 <th> 태그는 항목 명-->
        <tr>
          <th>title</th>
          <th>nickName</th>
          <th>date</th>
        </tr>
      </thead>
  
      <!--<tr> 태그는 행, <td> 태그는 데이터. post.js에서 context로 전달된 post 테이블의 요소들을 데이터가 끝날 때까지 삽입-->
      <tbody>
        <!--페이징 기능 로직-->
        <% var start = 10 * (currentPage - 1);
        var end = Math.min(start + columns, post.length);
        for(var i = start; i < end; i++){ %>
          <tr>
            <td>
            
            <!--신고 게시물 관리 페이지일 경우-->
            <% if (requestIsReport===true){ %>

              <!--신고 게시물 관리 페이지의 검색 결과일 경우-->
              <% if (requestIsSearch===true){ %>
                <form action="/reportedPost/search/<%=currentPage%>/<%=post[i].postId%>" method="post">
                  <div class="detail-form">
                      <input type="hidden" name="searchTerm" value="<%=searchTerm%>"><%= post[i].title %><button type="submit" class="detail-button">상세정보</button>
                  </div>
                </form>
              <% } 

              <!--신고 게시물 관리 페이지에서 검색 결과가 아닐 경우-->
              else { %>
                <div class="detail-form">
                  <%= post[i].title %><a href="/reportedPost/<%=currentPage%>/<%=post[i].postId%>"><button class="detail-button">상세정보</button></a>
                </div>
              <% } %>
            <% } 

            <!--게시물 관리 페이지일 경우-->>
            else { %>

              <!--게시물 관리 페이지의 검색 결과일 경우-->
              <% if (requestIsSearch===true){ %>
                <form action="/post/search/<%=currentPage%>/<%=post[i].postId%>" method="post">
                  <div class="detail-form">
                      <input type="hidden" name="searchTerm" value="<%=searchTerm%>"><%= post[i].title %><button type="submit" class="detail-button">상세정보</button>
                  </div>
                </form>
              <% } 
              
              <!--게시물 관리 페이지에서 검색 결과가 아닐 경우-->
              else { %>
                <div class="detail-form">
                  <%= post[i].title %><a href="/post/<%=currentPage%>/<%=post[i].postId%>"><button class="detail-button">상세정보</button></a>
                </div>
              <% } %>
            <% } %>
            </td>
            <td><%= post[i].nickName %></td>
            <td><%= post[i].date.toLocaleDateString('en-CA').replace(/\//g, '-') %></td>
        
            <!--해당 행의 게시물 삭제 요청 버튼. primary key로 지정된 postId를 전달-->
            <!--<td><a href="/post/delete/<%= post[i].postId %>" style="text-decoration: none;" onclick="return confirm('정말로 삭제하시겠습니까?');"><span class="button-icon">❌</span></a></td>-->
          </tr>
        <% } %>
      </tbody>
    </table>
  
    <div class="number">
      <!--게시물 관리 화면 현재 페이지와 다른 페이지들 표시-->
      <% var k = 1; 
      while(k <= pageNum){ 
        if(k == currentPage){%>
          <span style="font-weight : bold;"><%=k%></span> &nbsp;&nbsp;
        <% } else { 
          <!--url 요청이 search일 경우 post 방식으로 다른 페이지 요청-->
          if(requestIsSearch===true){ 
  
            <!--게시물 관리 페이지일 경우-->
            if(requestIsReport===false){%>
              <form action="/post/search/<%=k%>" method="post" style="display:inline;">
                <input type="hidden" name="searchTerm" value="<%=searchTerm%>">
                  <span style="cursor: pointer; color: blue; text-decoration: underline;" onclick="this.parentNode.submit(); return false;">
                    <%=k%>
                  </span> &nbsp;&nbsp;
              </form> 
            <!--게시물 신고 관리 페이지일 경우-->
            <% } else { %>
              <form action="/reportedPost/search/<%=k%>" method="post" style="display:inline;">
                <input type="hidden" name="searchTerm" value="<%=searchTerm%>">
                  <span style="cursor: pointer; color: blue; text-decoration: underline;" onclick="this.parentNode.submit(); return false;">
                    <%=k%>
                  </span> &nbsp;&nbsp;
              </form> 
            <% } %>
  
          <% } else { %>
            <!--게시물 관리 페이지일 경우-->
            <% if(requestIsReport===false){ %>
              <span><a href="/post/<%=k%>"><%=k%></a></span> &nbsp;&nbsp;
              <!--게시물 신고 관리 페이지일 경우-->
            <% } else { %>
              <span><a href="/reportedPost/<%=k%>"><%=k%></a></span> &nbsp;&nbsp;
            <% } %>
          <% }
        } %>
      <% k = k + 1;} %>
    </div>
  
    <!--게시물 테이블에 데이터가 없을 경우 출력-->
    <% } else { %>
      <p>자료가 없습니다.</p>
    <% } %>
  </div>
  <!--post 상세 사항 부분-->
  <div class="right-panel">
    <% if (postDetail===true) { %>
      <h1 class="main-title"><%= postData[0].title %></h1>
      <p>date : <%= postData[0].date.toLocaleDateString('en-CA').replace(/\//g, '-') %></p>
      <p>reportCount : <%= postData[0].reportCount %></p>
      <p>contents : <%= postData[0].contents %></p>
      <% if(comment.length!==0){ %>
      <table>
        <thead>
            <!--테이블 항목 <th> 태그는 항목 명-->
            <tr>
                <th>nickName</th>
                <th>date</th>
                <th>contents</th>
                <th>reportCount</th>
                <th>delete</th>
            </tr>
        </thead>
    
        <!--<tr> 태그는 행, <td> 태그는 데이터. comment.js에서 context로 전달된 comment 테이블의 요소들을 데이터가 끝날 때까지 삽입-->
        <tbody>
            <!--페이징 기능 로직-->
            <% for(var i = start; i < comment.length; i++){ %>
            <tr>
                <td><%= comment[i].nickName %></td>
                <td><%= comment[i].date.toLocaleDateString('en-CA').replace(/\//g, '-') %></td>
                <td><%= comment[i].contents %></td>
                <td><%= comment[i].reportCount %></td>
          
                <!--해당 행의 댓글 삭제 요청 버튼. primary key로 지정된 commentId를 전달-->
                <td><a href="/comment/delete/<%= comment[i].commentId %>" style="text-decoration: none;" onclick="return confirm('정말로 삭제하시겠습니까?');"><span class="button-icon">❌</span></a></td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% } else { %>
        <p> 댓글이 없습니다.</p>
      <% } %>

    <% } else { %>
      <h1 class="main-title">게시물 상세 정보 버튼을 눌러주세요</h1>
    <% } %>
  </div>
</div>